@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
	background-color: #24292d;
}
header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: #24292d;
	display: flex;
	justify-content: flex-end;
	transition: 1s;
}
header.sticky{
	height: 100px;
	z-index: 1;
}
header .banner{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	align-content: center;
	text-align: center;
	align-items: center;
	justify-content: center;
	justify-items: center;
}
header .logo{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 15vw;
	color: beige;	
	font-weight: 700;
	text-decoration: none;
	z-index: 1;
}

header.sticky .logo{
	z-index: 1;
	font-size: 30px;
}

body{
	width: 100%;
	font-family: 'Poppins', sans-serif;
}

.timeline-section{
	margin-top: 100vh;
	padding: 100px;
	background-color: #24292d;
	min-height: 100vh;
	padding: 100px 15px;
}
.timeline-items{
	max-width: 1000px;
	margin:auto;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.timeline-items::before{
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	background-color: #2f363e;
	left: calc(50% - 1px);
}
.timeline-item{
	margin-bottom: 40px;
	width: 100%;
	position: relative;
}
.timeline-item:last-child{
	margin-bottom: 0;
}
.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
	text-align: right;
}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}
.timeline-dot{
	height: 16px;
	width: 16px;
	background-color: #eaa023;
	position: absolute;
	left: calc(50% - 8px);
	border-radius: 50%;
	top:10px;
} 

.timeline-content{
	height: 150px;
	justify-content: center;
	align-items: center;
    background-color: #2f363e;
	box-shadow: inset 0 0 0 0 wheat;
	padding: 30px;
	border-radius: 5px;
	transition: ease-out 0.3s;
	outline: none;
	border: none;
	color: white;
	transition: 5s;
}

.timeline-content:hover{
	box-shadow: inset 800px 0 0 0 rgb(169, 169, 255);
	cursor: pointer;
	color: black;
	transition: 5s;
}

.timeline-content h3{
  font-size: 40px;
	margin:0 0 10px;
	text-transform: capitalize;
	font-weight: 200;
}

body[data-aos-duration='10000'] [data-aos],
[data-aos][data-aos][data-aos-duration='10000'] {
  transition-duration: 10000ms;
}


/* PICK A LANGUAGE */
.pick{
    width: 100vh;
    background: #2f363e;
	color: beige;
    border-radius: 6px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.5);
    text-align: center;
    padding: 0 30px 30px;
    visibility: hidden;
    transition: transform 0.4s top 0.4s;
	z-index: 500;
}
.pick h2{
	padding-top: 30px;
}

.pick img{ 
	height: 100px;
	width: 100px;
	border-radius: 50%;
	padding: 20px;
}
.open-pick{
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
    visibility: visible;
}
.pick button{
    width: 100%;
    margin-top:50px;
    padding: 10px 0;
    background: #00004e;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
}


/* FUNDAMENTAL */
.fundamental{
    width: 100vh;
    background: #2f363e;
	color: beige;
    border-radius: 6px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.5);
    text-align: center;
    padding: 0 30px 30px;
    visibility: hidden;
    transition: transform 0.4s top 0.4s;
	z-index: 500;
}
.fundamental h2{
	padding-top: 30px;
}

.open-fundamental{
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
    visibility: visible;
}
.fundamental button{
    width: 100%;
    margin-top:50px;
    padding: 10px 0;
    background: #00004e;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
}
.fundamental a{
	color: rgb(130, 145, 220) ;
}

.funlist{
	align-items: left;
	text-align: left;
	padding-left: 100px;
}

/* VERSION */
.version{
    width: 100vh;
    background: #2f363e;
	color: beige;
    border-radius: 6px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.5);
    text-align: center;
    padding: 0 30px 30px;
    visibility: hidden;
    transition: transform 0.4s top 0.4s;
	z-index: 500;
}
.version h2{
	padding-top: 30px;
}
.open-version{
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
    visibility: visible;
}
.version button{
    width: 100%;
    margin-top:50px;
    padding: 10px 0;
    background: #00004e;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
}
.version a{
	color: rgb(130, 145, 220) ;
}

/* BUILD */
.build{
	height: 700px;
    width: 100vh;
    background: #2f363e;
	color: beige;
    border-radius: 6px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.5);
    text-align: center;
    padding: 0 30px 30px;
    visibility: hidden;
    transition: transform 0.4s top 0.4s;
	z-index: 500;
	overflow: scroll;
	overflow-x: hidden;
}
.build h2{
	padding-top: 30px;
}
.build img{
	height: 400px;
	width: 600px;
	padding: 10px;

}
.open-build{
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
    visibility: visible;
}
.build button{
    width: 100%;
    margin-top:50px;
    padding: 10px 0;
    background: #00004e;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
}
.build a{
	color: rgb(130, 145, 220) ;
}

/* REPO */
.repo{
    width: 100vh;
    background: #2f363e;
	color: beige;
    border-radius: 6px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.5);
    text-align: center;
    padding: 0 30px 30px;
    visibility: hidden;
    transition: transform 0.4s top 0.4s;
	z-index: 500;
}
.repo h2{
	padding-top: 30px;
}
.open-repo{
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
    visibility: visible;
}
.repo button{
    width: 100%;
    margin-top:50px;
    padding: 10px 0;
    background: #00004e;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
}
.repo a{
	color: rgb(130, 145, 220) ;
}

.foot{
	background-color: #24292d;
	text-align: center;
	padding: 10px;
	color: bisque;
}

/* trying to make the page responsive */
@media(max-width: 850px){
	.timeline-items::before{
		left: 7px;
		justify-content: left;
		text-align: left;
	}
	.timeline-item:nth-child(odd){
		padding-right: 0;
		text-align: left;
	}
	.timeline-item:nth-child(odd),
	.timeline-item:nth-child(even){
		padding-left: 37px;
	}
	.timeline-dot{
		left:0;
	}
}